.padre{

   background-color:#6147F7;
   position:relative;
   margin:40px;
   padding:80px;
   width:90px;
   height:80px;

      }

 .hijomayor{

   background-color:green;
   position:static;
   margin:-20px;
   padding:60px;
   width:20px;
   height:10px;

 }     

 .hijomenor{

   background-color:black;
   position:absolute;
   margin:-120px;
   padding:20px;
   width:-100px;
   height:-90px;


 }